
body {
    background-image: url("./marimmelo-paper-2031795.jpg") ;
    background-size: cover;
    text-align: center;
    font-size:40px;
}

#add-button{
  border-radius: 30%;
  padding:5px 5px;
  font-size: 20px;
  background-color: burlywood;
  border: none;
}

#new-task{
  width:40%;
  height: 30px;
  background-color: lightblue;
  border: none;
  
 
}

ul{
   list-style-type: none ;
   
}

.deleteButton{
    background-color: lightgray;
    color: indianred;
    border-radius: 10%;
    margin-left: 20px;
    border: none;
}

.done{
    text-decoration: line-through;
}

.li {
   background-color :rgba(100, 0, 0, 0.3)  ;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    transition: all 0.2s;
}